<h1> Edit Driver </h1>
<%= form_for([@car, @driver]) do |f|%>
  <%= f.label :name %><br />
  <%= f.text_field :name %><br />
  <%= f.label :team %><br />
  <%= f.text_field :team %><br />
  <%= f.submit %>
<% end %>
